body {
    font-family: 'Palatino Linotype', Palatino, serif;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #006EB6;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.italic-text {
    font-style: italic;
}

ol {
    text-align: left;
    display: inline-block;
}

ol li {
    margin-bottom: 15px;
}

footer img {
    width: 200px;
    height: auto;
}
